page-about {

}
.contentOuter{
   width: 100%;
   height: 100%;
  background-image: url("../../assets/img/fundoCapa2.jpg");
   background-repeat: no-repeat;
  background-size: 1000px 700px;
  background-position: -400px -50px;
 }

	.btn-edit-perfil{
	    border-radius: 14px;
	    padding: 0 4.6rem;
	    width: 47%;
	    font-size: 11px;
	}

	.btn-edit-perfil-lg{
		width: 97%;
    	font-size: 15px;
	}
