page-menu {

  }
#profile{ //IMAGEM DE PERFIL
    width:200px;
    height:200px;
    border-radius:100%;
    margin:auto;
    margin-bottom: 50pt;
}

#btnescolha {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.bigbtn {
  border-radius:20%;
  min-height:90px;
  width: 42%;
  display: block;

}
.medbtn {
  border-radius:20%;
  min-height:100px;
  width: 45%;
  display: block;

}
.space{

}

.divtop {
  .container2 {
    button{
      margin-left:0.55em;
      margin-right:0.5em;
      width:80%;
      height:50px;
    }
  }
  width: 100%;
}


.divbtn{
  .container{
    button{
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
    }
  }
  width: 100%;
}

.btnAction{
    width: 50pt;
    height: 50pt;
    border-radius: 100%;
}

#btnDislike{
    margin-left: 0px;
}

#btnListen{
    width: 50pt;
    height: 40pt;
    border-radius: 10%;
}

#profileBG{
    position: relative;
    height: 250pt;
    width: 100%;
    background-image: url("../../assets/img/cover4.jpg");
    background-repeat: no-repeat;
    background-size: 500px 250px;
    background-position: top right;
}

#nome{
    font-size:15pt;
    font-weight: bold;
}